# Entorno virtual
.venv/

# Variables de entorno
.env

# Archivos de configuración de Visual Studio Code
.vscode/

# Archivos de configuración de Git
.git/

# Archivos de bytecode de Python
*.pyc
__pycache__/

# Archivos de log
*.log

# Archivos de dist
dist/

# Archivos en carpeta files
meteocat/files/

# Semantic-release print
semantic_print.py
