stages:
  - test
  - gitlab
  - github

variables:
  BASE_URL: "https://api.meteo.cat"
  PYPI_USERNAME: $PRODUCTION_USERNAME  # Usuario de PyPI
  PYPI_PASSWORD: $PRODUCTION_PASSWORD  # Token de PyPI
  GL_TOKEN: $GL_TOKEN  # Token de GitLab
  GH_TOKEN: $GH_TOKEN  # Token de GitHub
  GIT_STRATEGY: fetch
  GIT_DEPTH: 0

default:
  image: python:3.12.7
  before_script:
    - python -V  # Verificar versión de Python
    - python -m pip install --upgrade pip
    - pip install poetry  # Instalar Poetry
    - poetry config virtualenvs.create false  # Desactivar la creación de entornos virtuales
    - poetry install  # Instalar dependencias con Poetry

test_job:
  stage: test
  script:
    - python meteocat/locations.py  # Ejecuta tu script principal
  artifacts:
    paths:
      - municipis_result.json  # Archivo que queremos guardar
    expire_in: never  # No expira. El archivo generado estará siempre disponible
  only:
    - master

gitlab_job:
  stage: gitlab
  only:
    - master  # Solo ejecuta este job en la rama master
  script:
    - git fetch --tags  # Asegurarse de obtener todas las etiquetas
    - git checkout master  # Asegurarse de estar en la rama master
    - git remote set-url origin https://gitlab.com/figorr1/meteocat.git  # Cambiar la URL para GitLab
    - poetry run semantic-release version  # Generar nueva versión
    - poetry run semantic-release publish  # Ejecutar el comando para publicar el release

github_job:
  stage: github
  only:
    - master  # Solo ejecuta este job en la rama master
  script:
    - git fetch --tags  # Asegurarse de obtener todas las etiquetas
    - git checkout master  # Asegurarse de estar en la rama master
    - git remote set-url origin https://github.com/figorr/meteocat.git  # Cambiar la URL para GitHub
    - poetry run semantic-release version  # Generar nueva versión
    - poetry run semantic-release publish  # Ejecutar el comando para publicar el release
    - git push origin master  # Hacer push al repositorio GitHub
