# Entorno virtual
.venv/

# Variables de entorno
.env

# Archivos de configuración de Visual Studio Code
.vscode/

# Archivos de configuración de Git
.git/

# Archivos de bytecode de Python
*.pyc
__pycache__/
meteocat/__pycache__/
custom_components/meteocat/__pycache__/

# Cache
.meteocat_cache/
custom_components/meteocat/.meteocat_cache/

# Pytest_cache
.pytest_cache/

# Node Modules
node_modules/

# .coverage
.coverage

# Archivos de log
*.log

# Archivos de dist
dist/

# Local scripts
semantic_print.py
locations.py
municipi.py
update_version.py
publish_version.py
final_release.py

# TEST VARIABLES .ENV
test_dotenv.py

# TESTS
tests/coordinator_error_test.py
tests/sensor_error_test.py
tests/test_data.py
tests/uvi_test.py
tests/uvi_file_test.py
tests/files/station_D3_data.json
tests/files/station_D3_data_mapped.json
tests/test_weather_entity.py
custom_components/meteocat/test_cache.py
custom_components/meteocat/read_cache.py
custom_components/meteocat/read_cache_all.py
custom_components/meteocat/test_call_api.py
custom_components/meteocat/precipitation_test.py
custom_components/meteocat/test_weather_entity.py
custom_components/meteocat/test_condition.py
custom_components/meteocat/test_condition_hour.py
custom_components/meteocat/test_hourly_forecast.py

# VERSIONS
current_version.txt
next_version.txt

# GITLAB JOBS
.gitlab-ci.yml

# ASSETS
meteocat/assets/
custom_components/meteocat/assets/

# FILES
meteocat/files/
custom_components/meteocat/files/
