stages:
  - test
  - release
  - deploy

variables:
  BASE_URL: "https://api.meteo.cat"

before_script:
  - python -V  # Verificar versión de Python
  - python -m pip install --upgrade pip
  - pip install poetry  # Instalar Poetry
  - poetry config virtualenvs.create false  # Desactivar la creación de entornos virtuales
  - poetry install  # Instalar dependencias con Poetry

test_job:
  stage: test
  image: python:3.12.7  # Actualización a Python 3.12.7
  script:
    - poetry install  # Instalar dependencias con Poetry
    - python meteocat/locations.py  # Ejecuta tu script principal
  artifacts:
    paths:
      - municipis_result.json  # Archivo que queremos guardar
    expire_in: never  # No expira. El archivo generado estará siempre disponible
  only:
    - master

release_job:
  image: python:3.12
  stage: release
  only:
    - master  # Solo ejecuta este job en la rama master
  script:
    - pip install poetry  # Instala Poetry
    - poetry install  # Instala las dependencias del proyecto
    - poetry run semantic-release publish  # Ejecuta el comando para publicar el release
  variables:
    PYPI_USERNAME: $PRODUCTION_USERNAME  # Usuario de PyPI
    PYPI_PASSWORD: $PRODUCTION_PASSWORD  # Token de PyPI
    GL_TOKEN: $GL_TOKEN  # Token de GitLab

deploy_job:
  stage: deploy
  image: python:3.12.7  # Actualización a Python 3.12.7
  script:
    - echo "Desplegando la aplicación..."
    - python deploy.py  # Reemplaza con tu lógica de despliegue
  only:
    - tags
